<section class="page-header">
  {% if page.subtitle %}
      <h1 class="project-name">
        {{ page.subtitle | escape }}
      </h1>
  {% elsif site.title %}
      <h1 class="project-name">
        {{ site.title | escape }}
      </h1>

      <h2 class="project-tagline">
        {{ site.tagline }}
      </h2>

      {% if site.author.github_username %}
        <a href="https://github.com/{{ site.author.github_username }}/jboss-workshops" class="btn">View on GitHub</a>
        <a href="https://github.com/{{ site.author.github_username }}/jboss-workshops/zipball/master" class="btn">Download .zip</a>
        <a href="https://github.com/{{ site.author.github_username }}/jboss-workshops/tarball/master" class="btn">Download .tar.gz</a>
      {% endif %}
  {% endif %}
</section>
